*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #000000;
    color: white;
}

.uau{
    margin-top: 100px;
    border: solid;
    border-radius: 12px;
    border-color: orange;
    border-width: 1px;
    padding-bottom: 25px;
    padding-top: 25px;
    max-width: fit-content;
    padding: 20px;
    margin-left: 30%;
    
}

.titulo{
    margin-bottom: 30px;
    padding-left: 60px;
    font-weight: bolder;
    margin-top: -30px;
}

.frase{
    margin-bottom: 25px;
    
}

.pesquisa{
    background-color: rgb(255, 136, 0);
    color: white;
    font-size: 15px;
    padding: .600rem .9350rem;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0px;
    display: block;
    margin-top: 25px;
    
 
}

.cancela{
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 15px;
    padding: .600rem .9350rem;
    display: block;
    margin-top: -36px;
    margin-left: 440px;
    border-radius: 15px;
    border: none;
}

.texto{
   padding-right: 340px;
   padding-bottom: 6px;
   border-radius: 15px;
   border: none ;
   padding-top: 6px;
   font-size: 15px;
   margin-left: -1%;
   padding-left: 1px;
   color: black;
   background-color: rgb(233, 233, 233);
   border-style: initial;

}

::placeholder{
    position: relative;
    display: flex;
    color: black;
    padding-left: 5px;
}

.imagem{
    display: flex;
    position: relative;
    height: 50px;
    margin-top: 20px;
    margin-bottom: -40px;
}

  /* Estilo do botão "Voltar" */
  button.voltar {
    position: fixed; /* Fixa o botão no canto superior esquerdo */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    background-color: rgb(255, 136, 0); /* Cor de fundo laranja */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 10px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombras para dar profundidade */
    transition: background-color 0.3s ease; /* Transição suave de cor */
  }
  
  button.voltar:hover {
    background-color: rgb(255, 120, 0); /* Cor de fundo ao passar o mouse */
  }

  input[type="password"]::placeholder {
    color: #aaa;
    opacity: 1;
  }