/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',  sans-serif;
  }
  
  body {
    background: linear-gradient(rgba(39, 39, 39, 0.8), rgb(32, 31, 31)), url(https://img.freepik.com/fotos-gratis/homem-jovem-fitness-em-estudio_7502-5008.jpg?t=st=1726229718~exp=1726233318~hmac=721e82ef08eeaf553689e2325d2c9c9363b62d8ecad25cf7d0a8cee33cde4e2d&w=900);
    width: 100vw;
    height: 180vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit:z;
    background-position: 70% 45%;
    background-color: rgb(31, 31, 31);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: hidden;
  }
  
  
  
  .interface {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  /* navbar */
  
    header {
      padding: 40px 4%;
    }
    
    header>.interface {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
    }
    
    header a {
      color: #7a7a7a;
      text-decoration: none;
      display: inline-block;
      transition: .2s;
    }
    
    header a:hover {
      color: #fff;
      transform: scale(1.05);
    }
    
    header nav ul {
      list-style-type: none;
      color: #fff;
    }
    
    header nav.menu ul li {
      display: inline-block;
      padding: 0 40px;
    }
  
    /*menu mobile*/
    
    .overlay-menu{
      background-color: #e971001f;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 88888;
      display: none;
    }
    
    .btn-abrir-menu i{
      color: white;
      font-size: 40px;
      cursor: pointer;
    }
    
    .menu-mobile{
      background-color: black;
      height: 300vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99999;
      width: 0%;
      overflow: hidden;
      transition: .2s;
    }
    
    .menu-mobile.abrir-menu{
      width: 70%;
    }
    
    .menu-mobile.abrir-menu ~ .overlay-menu{
      display: block;
    }
    
    .menu-mobile .btn-fechar{
      padding: 20px 5%;
    }
    
    .menu-mobile .btn-fechar i{
      color: #ffffff;
      font-size: 30px;
    }
    
    .menu-mobile nav ul{
      text-align: right;
    }
    
    .menu-mobile nav ul li a{
      color: white;
      font-size: 20px;
      font-weight: 300;
      padding: 20px 8%;
      display: block;
    }
    
    .menu-mobile nav ul li a:hover{
      background-color: white;
      color: black;
    }
    
    .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      position: relative;
    }
    
    .input {
      border-style: none;
      height: 50px;
      width: 50px;
      padding: 10px;
      outline: none;
      border-radius: 50%;
      transition: .5s ease-in-out;
      background-color: #d36600;
      box-shadow: 0px 0px 3px #f3f3f3;
      padding-right: 40px;
      color: #fff;
    }
    
    .input::placeholder,
    .input {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 17px;
    }
    
    .input::placeholder {
      color: #8f8f8f;
    }
    
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0px;
      cursor: pointer;
      width: 50px;
      height: 50px;
      outline: none;
      border-style: none;
      border-radius: 50%;
      pointer-events: painted;
      background-color: transparent;
      transition: .2s linear;  
    }
    
    .icon:focus~.input,
    .input:focus {
      box-shadow: none;
      width: 250px;
      border-radius: 0px;
      background-color: transparent;
      border-bottom: 3px solid #d36600;
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
  
    #login {
      font-size: 20px;
      border-style: none;
      outline: none;
      background: none;
      border: none;
      color: #7a7a7a;
      text-decoration: none;
      display: inline-block;
      transition: .2s;
      cursor: pointer;
    }
  
    #login:hover {
     color: #fff;
     transform: scale(1.05); 
    }
  
    #button:hover {
      color: #fff;
      transform: scale(1.05);
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  
  /* topo do site*/
  
  section.topo-do-site {
    padding: 40px 4%;
  }
  
  section.topo-do-site .topo {
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
  
  .topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
  }
  
  .topo-do-site .texto-topo h1 span {
    color: #d36600;
  }
  
  .topo-do-site .texto-topo p {
    color: #fff;
    margin: 40px 0;
  }
  
  .topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
  }
  
  .img-topo-site{
    size: 20%;
  }
  
  .topo {
    display: flex;
  }
  
  .btn-registro button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:  #d36600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: #fff;
  }
  
  button:hover,
  form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px white;
    transform: scale(1.05);
  }
  
  /* sobre o GymBRO*/
  
  section.sobre {
    padding: 40px 4%;
    text-align: justify;
  }
  
  section.sobreGymBRO .flex {
    gap: 60px;
  }
  
  h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
  }
  
  h2.titulo span {
    color: #d36600;
  }
  
  .sobre .sobreGymBRO {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
  }
  
  .sobre .sobreGymBRO:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
  }
  
  .sobre .sobreGymBRO i {
    font-size: 70px;
    color: #d36600;
  }
  
  .sobre .sobreGymBRO h3 {
    font-size: 28px;
    margin: 15px 0;
  }
  
  .sobreGymBRO a{
    font-size: 28px;
    margin: 15px 0;
    color: #fff;
    border-style: none;
    text-decoration: none;
  }
  
  /*responsivo*/
  
  @media screen and (max-width: 1020px) {
    .topo {
      flex-direction: column;
    }
  
    .menu, .btn, .logo, .input-wrapper {
      display: none;
    }
  
    section.topo-do-site {
      padding: 20px 8%;
    }
  
    .topo-do-site h1 {
      font-size: 30px;
    }
  
    .topo-do-site .img-topo-site img {
      width: 100%;
    }
  
    section.topo-do-site .topo {
      gap: 40px;
    }
  
    section.sobre {
      padding: 80px 10%;
    }
  
    .sobre .texto-sobre h2 {
      font-size: 35px;
      line-height: 35px;
      text-align: center;
    }
  
    .img-sobre img{
      width: 100%;
    }
  }
  
  section.sobre {
    padding: 80px 4%;
  }
  
  section.sobre .topo {
    align-items: center;
    gap: 60px;
  }
  
  section.planos{
    padding: 80px 4%;
  }
  
  section.planos .topo{
    justify-content: space-around;
    margin-top: 60px;
  }
  
  .img-port{
    width: 360px;
    height: 460px;
    background-color: #d36600;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .img-port:hover{
    background-position: 100% 100%;
  }

  .icon-logado {
    position: relative;
    display: inline-block;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 40px; /* Ajuste conforme necessário */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
}

.profile-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.profile-menu a:hover {
    background-color: #f0f0f0;
}

#profileIcon {
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    color: #ff6f61; /* Cor do ícone */
}

.profile-menu {
  display: none;
  position: absolute;
  top: 50px; /* Ajuste conforme necessário */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000;
}

.profile-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

.profile-menu a:hover {
  background-color: #f0f0f0;
}

.icon-logado {
  position: relative;
  display: inline-block;
}

#profileIcon {
  cursor: pointer;
  font-size: 24px; /* Tamanho do ícone */
  color: #ff6f61; /* Cor do ícone */
}